@using FoodShoppingWEBUI.Core.ViewModel;
@model OrderViewModel
@{
    ViewData["Title"] = "Siparişelr";
    Layout = "~/Areas/AdminPanel/Views/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Market Siparişleri</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#modal-NewOrder">Ekle</button>
            <button type="button" class="btn btn-block btn-warning" data-toggle="modal" data-target="#modal-GetUser">Kullanıcı</button>
            <button type="button" class="btn btn-block btn-warning" data-toggle="modal" data-target="#modal-GetFoodDetail">Mağaza</button>


        </div>
    </div>
    <div class="card-body">
        <table id="tblOrder" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Sipariş Adı</th>
                    <th>Kullanıcı Adı</th>
                    <th>Mağaza</th>
                    <th style="width:20%"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < Model.Orders.Count(); i++)
                    {
                        <tr>
                            <td>@Convert.ToInt32(i+1)</td>
                            <td>@Model.Orders[i].Name</td>
                            <td>@Model.Orders[i].UserName</td>
                            <td>@Model.Orders[i].FoodDetailName</td>

                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info btnOrder" data-guid=@Model.Orders[i].Guid data-toggle="modal" data-target="#modal-DetayOrder">Güncelle</button>
                                    <button type="button" class="btn btn-danger btnOrderSil" data-guid=@Model.Orders[i].Guid>Sil</button>
                                </div>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-GetUser">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Kullanıcılar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="ddlOrderUser">Kullanıcılar</label>
                    <select class="custom-select rounded-0" id="ddlOrderUser">
                        @{
                            for (int i = 0; i < Model.Users.Count(); i++)
                            {
                                <option value=@Model.Users[i].Guid>@Model.Users[i].FirstName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-GetFoodDetail">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mağaza</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="ddlOrderFoodDetail">Mağaza</label>
                    <select class="custom-select rounded-0" id="ddlOrderFoodDetail">
                        @{
                            for (int i = 0; i < Model.FoodDetails.Count(); i++)
                            {
                                <option value=@Model.FoodDetails[i].Guid>@Model.FoodDetails[i].Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-NewOrder">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sipariş Oluştur</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOrderName_Add">Sipariş Adı</label>
                    <input type="text" class="form-control" id="txtOrderName_Add">
                </div>

                <div class="form-group">
                    <label for="ddlOrderUserAdd">Kullanıcı</label>
                    <select class="custom-select rounded-0" id="ddlOrderUserAdd">
                        @{
                            for (int i = 0; i < Model.Users.Count(); i++)
                            {
                                <option value=@Model.Users[i].Guid>@Model.Users[i].FirstName</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="ddlOrderFoodDetail_Add">Mağaza</label>
                    <select class="custom-select rounded-0" id="ddlOrderFoodDetail_Add">
                        @{
                            for (int i = 0; i < Model.FoodDetails.Count(); i++)
                            {
                                <option value=@Model.FoodDetails[i].Guid>@Model.FoodDetails[i].Name</option>
                            }
                        }
                    </select>
                </div>


                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary" id="btnOrder_Add">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-OrderUpdate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sipariş Güncelle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOrderName_Update">Sipariş Adı</label>
                    <input type="text" class="form-control" id="txtOrderName_Update">
                </div>

                <div class="form-group">
                    <label for="ddlOrderUser_Update"> Kullanıcı</label>
                    <select class="custom-select rounded-0" id="ddlOrderUser_Update">
                        @{
                            for (int i = 0; i < Model.Users.Count; i++)
                            {
                                <option value=@Model.Users[i].Guid>@Model.Users[i].FirstName</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="ddlOrderFoodDetail_Update">Mağaza</label>
                    <select class="custom-select rounded-0" id="ddlOrderFoodDetail_Update">
                        @{
                            for (int i = 0; i < Model.FoodDetails.Count; i++)
                            {
                                <option value=@Model.FoodDetails[i].Guid>@Model.FoodDetails[i].Name</option>
                            }
                        }
                    </select>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="btnOrder_Update">Kaydet</button>
            </div>
        </div>
    </div>
</div>



<script>
    $(function () {
        $("#tblOrder").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#tblOrder_wrapper .col-md-6:eq(0)');

        $('#btnOrder_Add').click(function () {

            var order = {
                Name: $('#txtOrderName_Add').val(),
                userGuid: $('#ddlOrderUserAdd').val(),
                FoodDetailGuid: $('#ddlOrderFoodDetailGuid_Add').val(),
            }


            var formData = new FormData();
            formData.append("Name", order.Name);
            formData.append("userGuid", order.userGuid);
            formData.append("FoodDetailGuid", order.FoodDetailGuid);



            $.ajax({
                url: '/Admin/AddOrder',
                type: 'POST',
                data: formData,
                cahce: false,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (response) {
                    if (response.success) {

                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Sipariş Başarıyla Eklendi',
                            showConfirmButton: false,
                            timer: 3000
                        })
                        setTimeout(function () { window.location.reload() }, 3000);

                    }
                    else {

                        var HataBilgisi = response.HataBilgisi;
                        var Hatalar = '';
                        for (var i = 0; i < HataBilgisi.Hata.length; i++) {
                            Hatalar += HataBilgisi.Hata[i] + '</br>';
                        }

                        Swal.fire({
                            icon: 'error',
                            title: HataBilgisi.HataAciklama,
                            html: Hatalar
                        })


                    }
                },
                error: function (err) {

                    Swal.fire({
                        icon: 'error',
                        title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                    })
                }
            });

        });

        $('.btnOrder').click(function () {
            var guid = $(this).attr('data-guid');
            $.ajax({
                url: '/Admin/Order/' + guid,
                type: 'get',
                success: function (response) {
                    if (response.success) {

                        $('#txtOrderName_Update').val(response.order.Name);

                        $('#btnOrder_Update').attr('data-guid', guid)

                        const select = document.querySelector('#ddlOrderUser_Update')
                        select.value = response.order.UserGuid
                        const select = document.querySelector('#ddlOrderFoodDetail_Update')
                        select.value = response.order.FoodDetailGuid
                    }
                    else {

                        var HataBilgisi = response.HataBilgisi;
                        var Hatalar = '';
                        if (HataBilgisi.Hata != null) {
                            for (var i = 0; i < HataBilgisi.Hata.length; i++) {
                                Hatalar += HataBilgisi.Hata[i] + '</br>';
                            }
                        }


                        Swal.fire({
                            icon: 'error',
                            title: HataBilgisi.HataAciklama,
                            html: Hatalar
                        })


                    }
                },
                error: function (err) {

                    Swal.fire({
                        icon: 'error',
                        title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                    })
                }
            });


        });


        $('#btnOrder_Update').click(function () {

            var order = {
                Name: $('#txtOrderName_Update').val(),
                order: $('#ddlOrderFoodDetail_Update').val(),
                order: $('#ddlOrderUser_Update').val(),
                Guid: $(this).attr('data-guid')
            }


            var formData = new FormData();
            formData.append("Name", order.Name);
            formData.append("FoodDetail", order.FoodDetail);
            formData.append("User", order.user);
            formData.append("Guid", order.Guid);


            $.ajax({
                url: '/Admin/UpdateOrder',
                type: 'POST',
                data: formData,
                cahce: false,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (response) {
                    if (response.success) {

                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Sipariş Başarıyla Güncellendi',
                            showConfirmButton: false,
                            timer: 3000
                        })
                        setTimeout(function () { window.location.reload() }, 3000);

                    }
                    else {

                        var HataBilgisi = response.HataBilgisi;
                        var Hatalar = '';
                        for (var i = 0; i < HataBilgisi.Hata.length; i++) {
                            Hatalar += HataBilgisi.Hata[i] + '</br>';
                        }

                        Swal.fire({
                            icon: 'error',
                            title: HataBilgisi.HataAciklama,
                            html: Hatalar
                        })


                    }
                },
                error: function (err) {

                    Swal.fire({
                        icon: 'error',
                        title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                    })
                }
            });

        });


        $('.btnRemoveOrder').click(function () {
            var orderGuid = $(this).attr('data-guid');

            Swal.fire({
                title: 'UYARI!',
                text: "'Siparişi Silmek İstediğinizden Emin misiniz?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet!',
                cancelButtonText: 'Hayır',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/RemoveOrder/' + orderGuid,
                        type: 'post',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        success: function (response) {
                            if (response.success) {

                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: 'Ürün Başarıyla Silindi',
                                    showConfirmButton: false,
                                    timer: 3000
                                })
                                setTimeout(function () { window.location.reload() }, 3000);

                            }
                            else {

                                var HataBilgisi = response.HataBilgisi;
                                var Hatalar = '';
                                for (var i = 0; i < HataBilgisi.Hata.length; i++) {
                                    Hatalar += HataBilgisi.Hata[i] + '</br>';
                                }

                                Swal.fire({
                                    icon: 'error',
                                    title: HataBilgisi.HataAciklama,
                                    html: Hatalar
                                })


                            }
                        },
                        error: function (err) {

                            Swal.fire({
                                icon: 'error',
                                title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                            })
                        }
                    });
                }
            })
        });

    })

</script>

