@using FoodShoppingWEBUI.Core.ViewModel;
@model StoreOrderDetailViewModel
@{
    ViewData["Title"] = "Market Siparişler Detayı";
    Layout = "~/Areas/AdminPanel/Views/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Market Siparişler Detayı</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#modal-NewStoreOrderDetail">Ekle</button>
            <button type="button" class="btn btn-block btn-warning" data-toggle="modal" data-target="#modal-GetStoreOrder">Market Siparişi</button>


        </div>
    </div>
    <div class="card-body">
        <table id="tblStoreOrderDetail" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Sipariş Detayı Adı</th>
                    <th>Sipariş Adı</th>
                    <th>Sipariş Tutarı</th>
                    <th>Sipariş İndirimi</th>
                    <th style="width:20%"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < Model.StoreOrderDetails.Count(); i++)
                    {
                        <tr>
                            <td>@Convert.ToInt32(i+1)</td>
                            <td>@Model.StoreOrderDetails[i].Name</td>
                            <td>@Model.StoreOrderDetails[i].StoreOrderName</td>
                            <td>@Model.StoreOrderDetails[i].UnitPrice</td>
                            <td>@Model.StoreOrderDetails[i].Discount</td>


                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info btnStoreOrderDetail" data-guid=@Model.StoreOrderDetails[i].Guid data-toggle="modal" data-target="#modal-DetayStoreOrderDetail">Güncelle</button>
                                    <button type="button" class="btn btn-danger btnStoreOrderDetailSil" data-guid=@Model.StoreOrderDetails[i].Guid>Sil</button>
                                </div>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-GetStoreOrder">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Market Siparişi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="ddlStoreOrderDetailStoreOrder">Market Siparişi</label>
                    <select class="custom-select rounded-0" id="ddlStoreOrderDetailStoreOrder">
                        @{
                            for (int i = 0; i < Model.StoreOrders.Count(); i++)
                            {
                                <option value=@Model.StoreOrders[i].Guid>@Model.StoreOrders[i].Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-NewStoreOrderDetail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sipariş Detayı</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtStoreOrderDetailName_Add">Sipariş Detayı Adı</label>
                    <input type="text" class="form-control" id="txtStoreOrderDetailName_Add">
                </div>
            </div>
            <div class="form-group">
                <label for="ddlStoreOrderDetailStoreOrderAdd">Kullanıcı</label>
                <select class="custom-select rounded-0" id="ddlStoreOrderDetailStoreOrderAdd">
                    @{
                        for (int i = 0; i < Model.StoreOrders.Count(); i++)
                        {
                            <option value=@Model.StoreOrders[i].Guid>@Model.StoreOrders[i].Name</option>
                        }
                    }
                </select>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtStoreOrderDetailUnitPrice_Add">Sipariş Tutarı</label>
                    <input type="text" class="form-control" id="txtStoreOrderDetailUnitPrice_Add">
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtStoreOrderDetailDiscount_Add">Sipariş İndirimi</label>
                    <input type="text" class="form-control" id="txtStoreOrderDetailDiscount_Add">
                </div>
            </div>


            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="btnStoreOrderDetail_Add">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-StoreOrderDetailUpdate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sipariş Detayı Güncelle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtStoreOrderDetailName_Update">Sipariş Detayı Adı</label>
                    <input type="text" class="form-control" id="txtStoreOrderDetailName_Update">
                </div>

                <div class="form-group">
                    <label for="ddlStoreOrderDetailStoreOrder_Update"> Market Siparişi</label>
                    <select class="custom-select rounded-0" id="ddlStoreOrderDetailStoreOrder_Update">
                        @{
                            for (int i = 0; i < Model.StoreOrders.Count; i++)
                            {
                                <option value=@Model.StoreOrders[i].Guid>@Model.StoreOrders[i].Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtStoreOrderDetailUnitPrice_Update">Sipariş Tutarı</label>
                        <input type="text" class="form-control" id="txtStoreOrderDetailUnitPrice_Update">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtStoreOrderDetailDiscount_Update">Sipariş İndirimi</label>
                        <input type="text" class="form-control" id="txtStoreOrderDetailDiscount_Update">
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="btnStoreOrderDetail_Update">Kaydet</button>
            </div>
        </div>
    </div>
</div>



<script>
    $(function () {
        $("#tblStoreOrderDetail").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#tblStoreOrderDetail_wrapper .col-md-6:eq(0)');

        $('#btnMenu_Add').click(function () {

            var menu = {
                Name: $('#txtMenuName_Add').val(),
                FoodCategoryGuid: $('#ddlFoodDetailFoodCategoryAdd').val(),
                RoleGuid: $('#ddlFoodDetailRoleAdd').val(),
            }


            var formData = new FormData();
            formData.append("Name", foodDetail.Name);
            formData.append("FoodCategoryGuid", foodDetail.FoodCategoryGuid);
            formData.append("RoleGuid", foodDetail.RoleGuid);



            $.ajax({
                url: '/Admin/AddFoodDetail',
                type: 'POST',
                data: formData,
                cahce: false,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (response) {
                    if (response.success) {

                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Mağza Başarıyla Eklendi',
                            showConfirmButton: false,
                            timer: 3000
                        })
                        setTimeout(function () { window.location.reload() }, 3000);

                    }
                    else {

                        var HataBilgisi = response.HataBilgisi;
                        var Hatalar = '';
                        for (var i = 0; i < HataBilgisi.Hata.length; i++) {
                            Hatalar += HataBilgisi.Hata[i] + '</br>';
                        }

                        Swal.fire({
                            icon: 'error',
                            title: HataBilgisi.HataAciklama,
                            html: Hatalar
                        })


                    }
                },
                error: function (err) {

                    Swal.fire({
                        icon: 'error',
                        title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                    })
                }
            });

        });

        $('.btnFoodDetail').click(function () {
            var guid = $(this).attr('data-guid');
            $.ajax({
                url: '/Admin/FoodDetail/' + guid,
                type: 'get',
                success: function (response) {
                    if (response.success) {

                        $('#txtFoodDetailName_Update').val(response.storeDetail.Name);

                        $('#btnFoodDetail_Update').attr('data-guid', guid)

                        const select = document.querySelector('#ddlFoodDetailFoodCategory_Update')
                        select.value = response.foodDetail.FoodCategoryGuid
                        const select = document.querySelector('#ddlFoodDetailRole_Update')
                        select.value = response.foodDetail.RoleGuid
                    }
                    else {

                        var HataBilgisi = response.HataBilgisi;
                        var Hatalar = '';
                        if (HataBilgisi.Hata != null) {
                            for (var i = 0; i < HataBilgisi.Hata.length; i++) {
                                Hatalar += HataBilgisi.Hata[i] + '</br>';
                            }
                        }


                        Swal.fire({
                            icon: 'error',
                            title: HataBilgisi.HataAciklama,
                            html: Hatalar
                        })


                    }
                },
                error: function (err) {

                    Swal.fire({
                        icon: 'error',
                        title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                    })
                }
            });


        });


        $('#btnFoodDetail_Update').click(function () {

            var foodDetail = {
                Name: $('#txtFoodDetailName_Update').val(),
                foodDetail: $('#ddlFoodDetailFoodCategory_Update').val(),
                foodDetail: $('#ddlFoodDetailGuid_Update').val(),
                Guid: $(this).attr('data-guid')
            }


            var formData = new FormData();
            formData.append("Name", foodDetail.Name);
            formData.append("FoodCategory", foodDetail.FoodCategory);
            formData.append("Role", foodDetail.Role);
            formData.append("Guid", foodDetail.Guid);


            $.ajax({
                url: '/Admin/UpdateFoodDetail',
                type: 'POST',
                data: formData,
                cahce: false,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (response) {
                    if (response.success) {

                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Mağza Başarıyla Güncellendi',
                            showConfirmButton: false,
                            timer: 3000
                        })
                        setTimeout(function () { window.location.reload() }, 3000);

                    }
                    else {

                        var HataBilgisi = response.HataBilgisi;
                        var Hatalar = '';
                        for (var i = 0; i < HataBilgisi.Hata.length; i++) {
                            Hatalar += HataBilgisi.Hata[i] + '</br>';
                        }

                        Swal.fire({
                            icon: 'error',
                            title: HataBilgisi.HataAciklama,
                            html: Hatalar
                        })


                    }
                },
                error: function (err) {

                    Swal.fire({
                        icon: 'error',
                        title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                    })
                }
            });

        });


        $('.btnRemoveFoodDetail').click(function () {
            var foodDetailGuid = $(this).attr('data-guid');

            Swal.fire({
                title: 'UYARI!',
                text: "'Mağzayı Silmek İstediğinizden Emin misiniz?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet!',
                cancelButtonText: 'Hayır',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/RemoveFoodDetail/' + foodDetailGuid,
                        type: 'post',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        success: function (response) {
                            if (response.success) {

                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: 'Ürün Başarıyla Silindi',
                                    showConfirmButton: false,
                                    timer: 3000
                                })
                                setTimeout(function () { window.location.reload() }, 3000);

                            }
                            else {

                                var HataBilgisi = response.HataBilgisi;
                                var Hatalar = '';
                                for (var i = 0; i < HataBilgisi.Hata.length; i++) {
                                    Hatalar += HataBilgisi.Hata[i] + '</br>';
                                }

                                Swal.fire({
                                    icon: 'error',
                                    title: HataBilgisi.HataAciklama,
                                    html: Hatalar
                                })


                            }
                        },
                        error: function (err) {

                            Swal.fire({
                                icon: 'error',
                                title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                            })
                        }
                    });
                }
            })
        });

    })

</script>

