@using FoodShoppingWEBUI.Core.ViewModel;
@model OrderDetailViewModel
@{
    ViewData["Title"] = "Sipariş Detayı";
    Layout = "~/Areas/AdminPanel/Views/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Sipariş Detayı</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#modal-NewOrderDetail">Ekle</button>
            <button type="button" class="btn btn-block btn-warning" data-toggle="modal" data-target="#modal-GetOrder">Sipariş</button>


        </div>
    </div>
    <div class="card-body">
        <table id="tblOrderDetail" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Sipariş Detayı Adı</th>
                    <th>Sipariş Adı</th>
                    <th>Sipariş Tutarı</th>
                    <th>Sipariş İndirimi</th>
                    <th style="width:20%"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < Model.OrderDetails.Count(); i++)
                    {
                        <tr>
                            <td>@Convert.ToInt32(i+1)</td>
                            <td>@Model.OrderDetails[i].Name</td>
                            <td>@Model.OrderDetails[i].OrderName</td>
                            <td>@Model.OrderDetails[i].UnitPrice</td>
                            <td>@Model.OrderDetails[i].Discount</td>


                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info btnOrderDetail" data-guid=@Model.OrderDetails[i].Guid data-toggle="modal" data-target="#modal-DetayOrderDetail">Güncelle</button>
                                    <button type="button" class="btn btn-danger btnOrderDetailSil" data-guid=@Model.OrderDetails[i].Guid>Sil</button>
                                </div>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-GetOrder">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Siparişi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="ddlOrderDetailStoreOrder">Siparişi</label>
                    <select class="custom-select rounded-0" id="ddlOrderDetailStoreOrder">
                        @{
                            for (int i = 0; i < Model.Orders.Count(); i++)
                            {
                                <option value=@Model.Orders[i].Guid>@Model.Orders[i].Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-NewOrderDetail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sipariş Detayı</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOrderDetailName_Add">Sipariş Detayı Adı</label>
                    <input type="text" class="form-control" id="txtOrderDetailName_Add">
                </div>
            </div>
            <div class="form-group">
                <label for="ddlOrderDetailOrderAdd">Sipariş</label>
                <select class="custom-select rounded-0" id="ddlOrderDetailOrderAdd">
                    @{
                        for (int i = 0; i < Model.Orders.Count(); i++)
                        {
                            <option value=@Model.Orders[i].Guid>@Model.Orders[i].Name</option>
                        }
                    }
                </select>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOrderDetailUnitPrice_Add">Sipariş Tutarı</label>
                    <input type="text" class="form-control" id="txtOrderDetailUnitPrice_Add">
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOrderDetailDiscount_Add">Sipariş İndirimi</label>
                    <input type="text" class="form-control" id="txtOrderDetailDiscount_Add">
                </div>
            </div>


            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="btnOrderDetail_Add">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-OrderDetailUpdate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sipariş Detayı Güncelle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOrderDetailName_Update">Sipariş Detayı Adı</label>
                    <input type="text" class="form-control" id="txtOrderDetailName_Update">
                </div>

                <div class="form-group">
                    <label for="ddlOrderDetailOrder_Update"> Market Siparişi</label>
                    <select class="custom-select rounded-0" id="ddlOrderDetailOrder_Update">
                        @{
                            for (int i = 0; i < Model.Orders.Count; i++)
                            {
                                <option value=@Model.Orders[i].Guid>@Model.Orders[i].Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtOrderDetailUnitPrice_Update">Sipariş Tutarı</label>
                        <input type="text" class="form-control" id="txtOrderDetailUnitPrice_Update">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtOrderDetailDiscount_Update">Sipariş İndirimi</label>
                        <input type="text" class="form-control" id="txtOrderDetailDiscount_Update">
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="btnOrderDetail_Update">Kaydet</button>
            </div>
        </div>
    </div>
</div>



<script>
    $(function () {
        $("#tblOrderDetail").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#tblOrderDetail_wrapper .col-md-6:eq(0)');

        $('#btnOrderDetail_Add').click(function () {

            var orderDetail = {
                Name: $('#txtOrderDetailName_Add').val(),
                orderDetail: $('#ddlOrderDetailOrderAdd').val(),
                orderDetail: $('#txtOrderDetailUnitPrice_Add').val(),
                orderDetail: $('#txtOrderDetailDiscount_Add').val(),

            }


            var formData = new FormData();
            formData.append("Name", orderDetail.Name);
            formData.append("OrderGuid", orderDetail.OrderGuid);
            formData.append("UnitPrice", orderDetail.UnitPrice);
            formData.append("Discount", orderDetail.Discount);



            $.ajax({
                url: '/Admin/AddOrderDetail',
                type: 'POST',
                data: formData,
                cahce: false,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (response) {
                    if (response.success) {

                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Sipariş Detayı Başarıyla Eklendi',
                            showConfirmButton: false,
                            timer: 3000
                        })
                        setTimeout(function () { window.location.reload() }, 3000);

                    }
                    else {

                        var HataBilgisi = response.HataBilgisi;
                        var Hatalar = '';
                        for (var i = 0; i < HataBilgisi.Hata.length; i++) {
                            Hatalar += HataBilgisi.Hata[i] + '</br>';
                        }

                        Swal.fire({
                            icon: 'error',
                            title: HataBilgisi.HataAciklama,
                            html: Hatalar
                        })


                    }
                },
                error: function (err) {

                    Swal.fire({
                        icon: 'error',
                        title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                    })
                }
            });

        });

        $('.btnOrderDetail').click(function () {
            var guid = $(this).attr('data-guid');
            $.ajax({
                url: '/Admin/OrderDetail/' + guid,
                type: 'get',
                success: function (response) {
                    if (response.success) {

                        $('#txtOrderDetailName_Update').val(response.storeOrderDetail.Name);

                        $('#btnOrderDetail_Update').attr('data-guid', guid)

                        const select = document.querySelector('#ddlOrderDetailOrderAdd')
                        select.value = response.storeOrderDetail.StoreOrderGuid
                    }
                    else {

                        var HataBilgisi = response.HataBilgisi;
                        var Hatalar = '';
                        if (HataBilgisi.Hata != null) {
                            for (var i = 0; i < HataBilgisi.Hata.length; i++) {
                                Hatalar += HataBilgisi.Hata[i] + '</br>';
                            }
                        }


                        Swal.fire({
                            icon: 'error',
                            title: HataBilgisi.HataAciklama,
                            html: Hatalar
                        })


                    }
                },
                error: function (err) {

                    Swal.fire({
                        icon: 'error',
                        title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                    })
                }
            });


        });


        $('#btnOrderDetail_Update').click(function () {

            var orderDetail = {
                Name: $('#txtOrederDetailName_Update').val(),
                orderDetail: $('#ddlOrderDetailOrder_Update').val(),
                orderDetail: $('#txtOrderDetailUnitPrice_Update').val(),
                orderDetail: $('#txtOrderDetailDiscount_Update').val(),
                Guid: $(this).attr('data-guid')
            }


            var formData = new FormData();
            formData.append("Name", orderDetail.Name);
            formData.append("Order", orderDetail.Order);
            formData.append("UnitPrice", orderDetail.UnitPrice);
            formData.append("Discount", orderDetail.Discount);
            formData.append("Guid", orderDetail.Guid);


            $.ajax({
                url: '/Admin/UpdateOrderDetail',
                type: 'POST',
                data: formData,
                cahce: false,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (response) {
                    if (response.success) {

                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Sipariş Detayı Başarıyla Güncellendi',
                            showConfirmButton: false,
                            timer: 3000
                        })
                        setTimeout(function () { window.location.reload() }, 3000);

                    }
                    else {

                        var HataBilgisi = response.HataBilgisi;
                        var Hatalar = '';
                        for (var i = 0; i < HataBilgisi.Hata.length; i++) {
                            Hatalar += HataBilgisi.Hata[i] + '</br>';
                        }

                        Swal.fire({
                            icon: 'error',
                            title: HataBilgisi.HataAciklama,
                            html: Hatalar
                        })


                    }
                },
                error: function (err) {

                    Swal.fire({
                        icon: 'error',
                        title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                    })
                }
            });

        });


        $('.btnRemoveOrderDetail').click(function () {
            var orderDetailGuid = $(this).attr('data-guid');

            Swal.fire({
                title: 'UYARI!',
                text: "'Sipariş Detayını Silmek İstediğinizden Emin misiniz?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet!',
                cancelButtonText: 'Hayır',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/RemoveOrderDetail/' + orderDetailGuid,
                        type: 'post',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        success: function (response) {
                            if (response.success) {

                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: 'Ürün Başarıyla Silindi',
                                    showConfirmButton: false,
                                    timer: 3000
                                })
                                setTimeout(function () { window.location.reload() }, 3000);

                            }
                            else {

                                var HataBilgisi = response.HataBilgisi;
                                var Hatalar = '';
                                for (var i = 0; i < HataBilgisi.Hata.length; i++) {
                                    Hatalar += HataBilgisi.Hata[i] + '</br>';
                                }

                                Swal.fire({
                                    icon: 'error',
                                    title: HataBilgisi.HataAciklama,
                                    html: Hatalar
                                })


                            }
                        },
                        error: function (err) {

                            Swal.fire({
                                icon: 'error',
                                title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                            })
                        }
                    });
                }
            })
        });

    })

</script>

